<app-header [title]="plant.name" [subtitle]="plant.city"></app-header>
<div class="bg-slate-200  h-screen">
  <div class="container mx-auto pt-14">
    <div class="flex justify-center">
      <div class="flex-auto w-3/12">
        <app-plant-contact [address]="plant.address" [manager]="plant.manager ?? ''"></app-plant-contact>
      </div>
      <div class="flex-auto w-8/12  mr-5">
        <app-plant-description [description]="plant.description"></app-plant-description>
      </div>
    </div>
  </div>
</div>
